bleak==0.22.3
blehrm>=0.1.4
numpy>=1.25.2
pyobjc-core>=10.3,<11.0; platform_system == 'Darwin'
pyobjc-framework-Cocoa>=10.3,<11.0; platform_system == 'Darwin'
pyobjc-framework-CoreBluetooth>=10.3,<11.0; platform_system == 'Darwin'
pyobjc-framework-libdispatch>=10.3,<11.0; platform_system == 'Darwin'
PySide6>=6.5.2
PySide6-Addons>=6.5.2
PySide6-Essentials>=6.5.2
qasync>=0.24.0
scipy>=1.11.2
shiboken6>=6.5.2
typing_extensions~=4.7.1
pyinstaller~=6.13.0
neurokit2